body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
  flex-direction: column;
}

h2 {
  color: white;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  border: 2px solid #888;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

input {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

#gameCanvas {
  display: none; /* Hide initially */
  margin-top: 20px;
}
