body {
  margin: 0;
  overflow: hidden;
  background: #111;
  font-family: Arial, sans-serif;
}

#gameCanvas {
  display: block;
  background-color: #111;
}

#controls {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:active {
  background-color: rgba(0, 0, 0, 0.7);
}

#lengthDisplay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}

#instructions {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
}

#restartButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#restartButton button {
  padding: 20px;
  font-size: 24px;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  #controls {
      flex-direction: column;
  }
}